@page
@model DepartmentManagementModel
@{
}


<div id="successDialog" class="alert alert-success" style="display: none;">
    Create new department success!
</div>

<form method="post">
    <h4>Add a New Department</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="MyDepartment.NormalizedName" class="col-sm-2 col-form-label">My Dept Name:</label>
        <div class="col-sm-6">
            <input asp-for="MyDepartment.NormalizedName" class="form-control" />
            <span asp-validation-for="MyDepartment.NormalizedName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="MaxWorkingHour" class="col-sm-2 col-form-label">Max Working Hour:</label>
        <div class="col-sm-6">
            <input asp-for="MaxWorkingHour" class="form-control" />
            <span asp-validation-for="MaxWorkingHour" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Add Department</button>
        </div>
    </div>
</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        var success = '@(TempData["Success"] ?? "false")';

        if (success === "true") {
            // Show the success dialog
            $('#successDialog').show();

            // Wait for 1 second (1000 milliseconds)
            setTimeout(function () {
                // Hide the success dialog
                $('#successDialog').hide();

                // Reload the page
                location.reload();
            }, 2000);
        }
    });
</script>