@page
@model WebApp2.Pages.Identity.AccessDeniedModel
@{
}


            <h1 style="color:red">  Access  Denied </h1>
<p style="color:red">Your department do not have the access right to view this page.</p>
            
        