@page
@model WebApp1.Pages.DailyVisit.InformationTechnologyModel
@{
}

<h1 style="color:green">This is Information Technology Page </h1>


<h3 style="color:green">It should only available for IT Team</h3>   