@page
@model WebApp1.Pages.DailyVisit.TopSecretCEOOnlyModel
@{
}

<h1 style ="color:green">This is CEO Top Secret Page </h1>


<h3 style="color:green">It should only available for CEO only</h3>   
<h3 style="color:green">You have to pass the MFA before able to view this</h3>   